<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>search recipes</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div>
			<a href="/">home</a>
			</br>
			<a href="/login">login</a>
			</br>
			<a href="/register">register</a>
			</br>
			<a href="/search">search</a>
			</br>	
			<a href="/box">box</a>
		</div>
		<div>
			<form method="GET" action="/search">
				<input type="text" name="q" placeholder="search">
				<button>find!</button>
			</form>
		</div>
		<div>
			<% if (noRecipes) { %>
			<div> No results </div>
			<% } %>
		</div>
		<% recipes.forEach(function(recipe){ %>
			<div>
				<a href="/recipe?id=<%= recipe.yumID %>">
					<%= recipe.Title %>
				</a>
			</div>
			<% }) %>
		</div>
	</div>	
</body>
</html>