<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

<!-- START FAVICON  --> 

	<link rel="icon" 
	type="image/png" 
	href="/assets/frydge.ico">

<!-- END FAVICON  --> 

<!-- Google Analytics --> 
 
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-18794176-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
 
<!-- Google Analytics -->

</head>
<body>
	
<!-- START NAVBAR -->	

	<div class = "navbar navbar-default navbar-fixed-top">
		<div class = "container">
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">		
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class = "nav navbar-nav navbar-left">
					<li><a href="/">home</a></li>
					<li class = "active"><a href = "#">login</a></li>
                    <li><a href="/register">register</a></li>
					<li><a href="/search">search</a></li>
					<li><a href="/box">box</a></li>
				</ul>
			</div>		
		</div>
	</div>

<!-- END NAVBAR -->

	<div class="container">
		<div class="row">
			<div class="col-xs-6">
		    	<form class="form-signin" method="POST" action="/login">
			        <h1 class="form-signin-heading">login</h1>
			        
			        <label for="inputEmail" class="sr-only">email address</label>
			        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="email address" required autofocus>
			        
			        <label for="inputPassword" class="sr-only">password</label>
			        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="password" required>

			        <button class="btn btn-lg btn-primary btn-block" type="submit">please login</button>
		      	</form>
		    </div>
		</div>    
	</div>

<!-- START FOOTER -->

    <div class = "navbar navbar-default navbar-fixed-bottom">
        <div class = "container">
            <p class = "navbar-text pull-left">thanks <a href="http://www.yummly.com/" target="_blank">yummly</a></p>  
            <a href = "https://twitter.com/hyperjuice" class = "navbar-btn btn-info btn pull-right" target="_blank">follow on twitter</a>
        </div>
    </div>

<!-- END FOOTER --> 

        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
</body>
</html>