<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<div>
			<a href="/">home</a>
			</br>
			<a href="/login">login</a>
			</br>
			<a href="/register">register</a>
			</br>
			<a href="/search">search</a>
			</br>	
			<a href="/box">box</a>
		</div>
		<div>
			<form method="POST" action="/login">
				<input type="text" name="email" placeholder="email">
				<input type="password" name="password" placeholder="password">
				<button>login</button>
			</form>
		</div>
	</div>		
</body>
</html>